<div class="modal-header">
  <button type="button" class="close custom-close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>

  <h4 class="modal-title">Producer configuration</h4>
</div>
<div class="modal-body">
  <form [formGroup]="producerForm" novalidate>
    <div class="form-group">
      <label for="producer-caption" class="producer-form-label">Chart name</label>
      <input id="producer-caption" type="text" class="form-control" name="producer-caption" formControlName="caption" placeholder="Enter chart name..." />
    </div>

    <div class="form-group">
      <label for="producer" class="producer-form-label">Producer</label>
      <select id="producer" class="form-control" name="producer" formControlName="producer">
        <option *ngFor="let name of producerNames" [selected]="producer.producer === name" [value]="name">{{ name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="stat" class="producer-form-label">Stat</label>
      <input id="stat" type="text" class="form-control" name="stat" formControlName="stat" placeholder="Enter stat name..." />
    </div>

    <div class="form-group">
      <label for="value" class="producer-form-label">Value</label>
      <input id="value" type="text" class="form-control" name="value" formControlName="value" placeholder="Enter value name..." />
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="control-buttons-group">
    <button type="button" class="btn btn-success btn-block outline" (click)="saveProducerConfiguration()">Save Producer Configuration</button>
    <button type="button" class="btn btn-danger btn-block outline" (click)="activeModal.close()">Close</button>
  </div>
</div>
