<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
    https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
version="6.0">
	<display-name>Central Health Monitoring System</display-name>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.moskito.control.ui.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/v2/*</url-pattern>
    </filter-mapping>
	<filter>
		<filter-name>MoSKitoControlFilter</filter-name>
		<filter-class>org.moskito.control.ui.MoSKitoControlFilter</filter-class>
        <init-param>
            <param-name>path</param-name>
            <param-value>/control/</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>MoSKitoControlFilter</filter-name>
		<url-pattern>/control/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>JerseyServletContainer</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                org.moskito.control.ui.resource,
                org.moskito.control.ui.restapi,
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.jackson.JacksonFeature</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>OpenApi</servlet-name>
        <servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>
        <init-param>
            <param-name>openApi.configuration.resourcePackages</param-name>
            <param-value>
                org.moskito.control.ui.restapi,org.moskito.control.ui.resource
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenApi</servlet-name>
        <url-pattern>/openapi/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>JerseyServletContainer</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>JerseyServletContainer</servlet-name>
		<url-pattern>/api/v2/*</url-pattern>
	</servlet-mapping>

    <listener>
        <listener-class>org.moskito.control.ui.StartListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>/control/main</welcome-file>
    </welcome-file-list>

</web-app>
