
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

li {
  line-height: 20px;
}

ul, ol {
  padding: 0;
  margin: 10px 0 10px 25px;
}
