
  <ul>
    <li>Notifications muting time: 60 minutes</li> <!-- TODO -->
    <li>History items amount: 100</li> <!-- TODO -->

    <!--
    <div *ngIf="moskitoStatus.applicationStatuses">
      <li><h5>Applications</h5></li>
      <ul *ngFor="let applicationStatus of moskitoStatus.applicationStatuses">
        <li><h6>Name: {{ app.name }}</h6></li>
        <li><h6>Components</h6></li>
        <ul *ngFor="let component of app.components">
          <li>Name: {{ component.name }}</li>
          <li>Category: {{ component.category }}</li>
          <li>Connector type: {{ component.connectorType }}</li>
          <li>Location: {{ component.location }}</li>
        </ul>
        <br/>

        <div *ngIf="app.charts">
          <li><h6>Charts</h6></li>
          <ul *ngFor="let chart of app.charts">
            <li>Name: {{ chart.name }}</li>
            <li>Limit: {{ chart.limit }}</li>
            <ul *ngFor="let line of chart.lines">
              <li>Component: {{ line.component }}</li>
              <li>Accumulator: {{ line.accumulator }}</li>
            </ul>
            <br/>
          </ul>
          <br/>
        </div>
      </ul>
    </div>
    -->

    <!--
    <li><h5>Connectors</h5></li>
    <ul *ngFor="let connector of configuration.connectors">
      <li>Type: {{ connector.type }}</li>
      <li>Class name: {{ connector.className }}</li>
    </ul>
    -->

    <br/>
    <li><h5>Status updater</h5></li>
    <ul>
      <li>Check period in seconds: {{ moskitoStatus?.statusUpdater.checkPeriodInSeconds }}</li>
      <li>Thread pool size: {{ moskitoStatus?.statusUpdater.threadPoolSize }}</li>
      <li>Timeout in seconds: {{ moskitoStatus?.statusUpdater.timeoutInSeconds }}</li>
      <li>Enabled: {{ moskitoStatus?.statusUpdater.enabled }}</li>
    </ul>
    <br/>
    <li><h5>Charts updater</h5></li>
    <ul>
      <li>Check period in seconds: {{ moskitoStatus?.chartsUpdater.checkPeriodInSeconds }}</li>
      <li>Thread pool size: {{ moskitoStatus?.chartsUpdater.threadPoolSize }}</li>
      <li>Timeout in seconds: {{ moskitoStatus?.chartsUpdater.timeoutInSeconds }}</li>
      <li>Enabled: {{ moskitoStatus?.chartsUpdater.enabled }}</li>
    </ul>
  </ul>
