
<div class="box charts">
  <div class="content-title"><h3><i class="fa fa-bar-chart-o"></i>Charts</h3></div>
  <div class="chart-list">
    <div class="row">
      <div *ngFor="let chart of charts" class="col-md-12">
          <div class="chart-item">
            <div class="chart-box-name">{{ chart.name }}</div>

            <div class="row row-equal-height">
              <div class="col-md-10">
                <div *ngIf="isLoading" class="loading">
                  <span class="spinner"></span>
                </div>
                <div *ngIf="!isLoading" [id]="chartService.buildChartBoxID(chart.name)" class="chart-box" [class.chart_fullscreen]="chart.name == fullscreenChart?.name" #chart_box (click)="onChartClick($event, chart)">
                </div>
              </div>
              <div class="chart-form col-md-2">
                <form [formGroup]="requestForm" (ngSubmit)="sendRequest()" novalidate>
                  <div class="form-group">
                    <label for="interval" class="chart-form-label">Interval</label>
                    <input id="interval" type="text" class="form-control" name="interval" formControlName="interval" />
                  </div>

                  <div class="form-group">
                    <label for="start-date" class="chart-form-label">Start Date</label>
                    <input id="start-date" type="text" class="form-control" name="start-date" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm" />
                  </div>

                  <div class="form-group">
                    <label for="end-date" class="chart-form-label">End Date</label>
                    <input id="end-date" type="text" class="form-control" name="end-date" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm" />
                  </div>

                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="Update Chart" />
                  </div>
                </form>
              </div>
            </div>

            <i class='fa fa-compress'></i>
            <i class='fa fa-expand'></i>

            <span class="footitle one-line-text">Hosts: {{ moskitoAnalyze.hosts | json }};&nbsp;</span>
          </div>
      </div>
    </div>
  </div>
</div>
