

<div class="box charts">
  <div class="content-title"><h3><i class="fa fa-bar-chart-o"></i>Charts</h3></div>
  <div class="chart-list">
    <div class="row">
      <div *ngFor="let chart of charts" class="col-md-6">
        <div class="chart-item">
          <div [id]="chartService.buildChartBoxID(chart.name)" class="chart-box" #chart_box (click)="onChartClick($event)">
            <i class='fa fa-compress'></i>
            <i class='fa fa-expand'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
