

<div class="box history">
  <div class="content-title "><h3><i class="fa fa-reorder"></i>History</h3></div>
  <div class="history-box">
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="250">Timestamp</th>
        <th>Name</th>
        <th width="200">Status change</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of historyItems | historyByCategoryFilter: categoriesService.filterString | historyByStatusFilter: statusService.filter">
        <td>{{ item.isoTimestamp }}</td>
        <td>{{ item.component?.name }}</td>
        <td>
          <span class="status {{ item.oldStatus | lowercase }}"></span>
          <span class="arrow-right"></span>
          <span class="status {{ item.newStatus | lowercase }}"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
