<div class="box">
  <div class="content-title"><h3><i class="fa fa-adjust"></i>Status (beta)</h3></div>
  <ul class="controls">
    <li *ngFor="let component of components | componentsByCategoryFilter: categoriesService.getFilterString() | componentsByStatusFilter: statusService.getFilter(); let componentIndex = index;" [class]="component.color | lowercase"
        role="button" data-toggle="modal" [attr.data-target]="'#component-modal-' + componentIndex"
        (click)="getComponentInspectionModalData(component.name)">
      <a >
                <span class="control-tooltip form-control">
                  <span *ngIf="component.messages.length > 0" class="tooltip-top-line">
                    <span class="status"></span>
                    <div *ngFor="let message of component.messages">
                      <div *ngIf="message">
                        {{ message }}<br>
                      </div>
                    </div>
                  </span>
                  <span class="tooltip-lower-line time">{{ component.ISO8601Timestamp }}</span>
                  <span class="arrow"></span>
                </span>
        <span class="control-title">
                  <span class="status"></span>
                  {{ component.category }}:{{ component.name }}
                </span>
      </a>
    </li>
  </ul>
</div>

<!-- Modal for component inspection -->
<div *ngFor="let component of components | componentsByCategoryFilter: categoriesService.getFilterString() | componentsByStatusFilter: statusService.getFilter(); let componentIndex = index" id="component-modal-{{ componentIndex }}"
     class="modal fade modal-stretch" tabindex="-1" role="dialog">
  <div class="modal-dialog components-inspection-modal">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <button type="button" class="close custom-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="status {{ component.color | lowercase }}"></span>{{ component.name }}</h3>

        <!-- Thresholds & Accumulators tabs -->
        <ul class="nav nav-tabs tabs-pane">
          <li class="active">
            <a href="#thresholds-tab-{{ componentIndex }}" data-toggle="tab">
              Thresholds
            </a>
          </li>
          <li>
            <a href="#accumulators-tab-{{ componentIndex }}" data-toggle="tab">
              Accumulators
            </a>
          </li>
        </ul>
      </div>

      <!-- Thresholds & Accumulators tabs -->
      <div class="modal-body custom-modal-body">
        <!-- Thresholds & Accumulators tabs content -->
        <div class="tab-content">
          <div class="tab-pane active" id="thresholds-tab-{{ componentIndex }}">
            <div class="loading" style="display: none">
              <span class="spinner"></span>
            </div>
            <div id="thresholds-view-{{ componentIndex }}" [innerHtml]="thresholds | sanitizeHtml">
              <!-- ajax content -->
            </div>
          </div>

          <div class="tab-pane" id="accumulators-tab-{{ componentIndex }}">
            <div class="loading" style="display: none">
              <span class="spinner"></span>
            </div>
            <div id="accumulators-view-{{ componentIndex }}" [innerHtml]="accumulators | sanitizeHtml">
              <!-- ajax content -->
            </div>
          </div>
        </div>
        <!-- Thresholds & Accumulators tabs content end -->
      </div>
      <div class="modal-footer modal-footer-custom"></div>
    </div>
    <!-- Modal for component inspection end -->
  </div>
</div>
