<div class="box">
  <div class="content-title"><h3><i class="fa fa-adjust"></i>Status (beta)</h3></div>
  <ul class="controls">
    <li *ngFor="let component of components | componentsByCategoryFilter: categoriesService.getFilterString() | componentsByStatusFilter: statusService.getFilter(); let componentIndex = index;" [class]="component.color | lowercase"
        role="button" data-toggle="modal" [attr.data-target]="'#component-modal-' + componentIndex"
        (click)="getComponentInspectionModalData(component.name)">
      <a >
                <span class="control-tooltip form-control">
                  <span *ngIf="component.messages.length > 0" class="tooltip-top-line">
                    <span class="status"></span>
                    <div *ngFor="let message of component.messages">
                      <div *ngIf="message">
                        {{ message }}<br>
                      </div>
                    </div>
                  </span>
                  <span class="tooltip-lower-line time">{{ component.ISO8601Timestamp }}</span>
                  <span class="arrow"></span>
                </span>
                <span class="control-title">
                  <span class="status"></span>
                  {{ component.category }}:{{ component.name }}
                </span>
      </a>
    </li>
  </ul>
</div>

<!-- Modal for component inspection -->
<div #componentInspectionModal *ngFor="let component of components | componentsByCategoryFilter: categoriesService.getFilterString() | componentsByStatusFilter: statusService.getFilter(); let componentIndex = index"
     class="modal fade modal-stretch component-inspection" tabindex="-1" role="dialog">
  <div class="modal-dialog components-inspection-modal">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <button type="button" class="close custom-close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span class="status {{ component.color | lowercase }}"></span>{{ component.name }}</h3>

        <!-- Thresholds, Accumulators & Connector tabs -->
        <ul class="nav nav-tabs tabs-pane">
          <li *ngIf="connector?.supportsThresholds">
            <a href="#thresholds-tab-{{ componentIndex }}" data-toggle="tab"  (click)="loadThresholdsData( component.name )">
              Thresholds
            </a>
          </li>
          <li *ngIf="connector?.supportsAccumulators">
            <a href="#accumulators-tab-{{ componentIndex }}" data-toggle="tab"  (click)="loadAccumulatorsData( component.name )">
              Accumulators
            </a>
          </li>
          <li *ngIf="connector?.supportsInfo">
            <a href="#info-tab-{{ componentIndex }}" data-toggle="tab" (click)="loadConnectorInformation( component.name )">
              Connector Information
            </a>
          </li>
        </ul>
      </div>

      <!-- Thresholds & Accumulators tabs -->
      <div class="modal-body custom-modal-body">
        <!-- Thresholds & Accumulators tabs content -->
        <div class="tab-content">
          <!-- Thresholds tab -->
          <div *ngIf="connector?.supportsThresholds" class="tab-pane active" id="thresholds-tab-{{ componentIndex }}">
            <div class="loading" style="display: none">
              <span class="spinner"></span>
            </div>
            <div id="thresholds-view-{{ componentIndex }}">
              <!-- Thresholds -->
              <div *ngIf="thresholds" class="thresholds">
                <table class="table table-striped table-modal">
                  <thead>
                  <tr>
                    <th>Threshold name</th>
                    <th width="50">Status</th>
                    <th width="90">Last value</th>
                    <th width="200">Last change timestamp</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let threshold of thresholds">
                      <td>{{ threshold.name }}</td>
                      <td><div class="{{ threshold.status }} status"></div></td>
                      <td>{{ threshold.lastValue }}</td>
                      <td>{{ threshold.statusChangeTimestamp }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- No data message -->
              <div *ngIf="!thresholds" class="response-message">
                <p>Data is not available for this application component</p>
              </div>
            </div>
          </div>

          <!-- Accumulator tab -->
          <div *ngIf="connector?.supportsAccumulators" class="tab-pane" id="accumulators-tab-{{ componentIndex }}">
            <div class="loading" style="display: none">
              <span class="spinner"></span>
            </div>
            <div id="accumulators-view-{{ componentIndex }}">
              <!-- Accumulator charts -->
              <div *ngIf="accumulatorChartsMap[component.name]" class="accumulators-charts">
                <div *ngFor="let chart of accumulatorChartsMap[component.name]" class="chart-item chart-item-modal">
                  <div class="chart-box-name">{{ chart.name }}</div>
                  <div id="{{ chart.divId }}" class="chart-box" #chart_box style="width: 800px; height: 300px;"></div>
                  <span class="footitle one-line-text">{{ chart.legend }}</span>
                </div>
              </div>

              <!-- Accumulator names -->
              <div *ngIf="accumulatorNames" class="accumulators-list">
                <table class="table table-striped table-modal">
                  <thead>
                    <tr>
                      <th width="30">Show</th>
                      <th>Accumulator name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let accumulatorName of accumulatorNames">
                      <td><input type="checkbox" name="{{ accumulatorName }}" value="{{ accumulatorName }}" (change)="toggleAccumulatorChart( $event, component.name, accumulatorName )" /></td>
                      <td>{{ accumulatorName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- No data message -->
              <div *ngIf="!accumulatorNames" class="response-message">
                <p>Data is not available for this application component</p>
              </div>
            </div>
          </div>

          <!-- Info tab -->
          <div *ngIf="connector?.supportsInfo" class="tab-pane" id="info-tab-{{ componentIndex }}">
            <div id="info-view-{{ componentIndex }}">
              <!-- Connector general information -->
              <div *ngIf="connector.info" class="connector-info">
                <table class="table table-striped table-modal">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let property of connector.info | keys">
                      <td>{{ property.key }}</td>
                      <td>{{ property.value }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- No data message -->
              <div *ngIf="!connector.info" class="response-message">
                <p>Data is not available for this application component</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Thresholds & Accumulators tabs content end -->
      </div>
      <div class="modal-footer modal-footer-custom"></div>
    </div>
    <!-- Modal for component inspection end -->
  </div>
</div>
