<div class="content">
  <div *ngIf="configToggle">
    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <span class="configuration">Settings</span>
        </div>
        <div class="pull-right">
          <a  class="btn2" (click)="setConfigurationMode(false)"><span class="inbtn">Back</span></a>
        </div>
      </div>
    </div>

    <!-- <settings></settings>  -->
     <app-moskito-control-config [analyzeMode]="moskitoAnalyzeMode"></app-moskito-control-config> 
  </div>

  <div *ngIf="!configToggle">
    <div class="header">
      <ul class="applications-list">
        <li *ngFor="let app of applications" [class]="app.applicationColor | lowercase" [class.active]="!moskitoAnalyzeMode && moskitoApplicationService.currentApplication === app">
          <a (click)="setApplication(app)">
            {{ app.name }}
            <span class="status"></span>
          </a>
        </li>

        <!-- Tab for Moskito-Analyze -->
        <li class="red" [class.active]="moskitoAnalyzeMode">
          <a (click)="toggleMoskitoAnalyze()">
            >> Moskito Analyze <<
          </a>
        </li>
      </ul>

      <div class="pull-right">
        <a class="design-toggle" href="{{ moskitoApplicationService.getApplicationContextPath() + 'control/main' }}">
          Regular
        </a>
      </div>
    </div>

    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <timer #dataRefreshTimer timeInSeconds="60" [callback]="onDataRefresh"></timer>
        </div>
        <div class="pull-right">
          <notifications-config></notifications-config>

          <span class="vline"></span>
          <a  class="btn2 settings">
            <span class="inbtn" (click)="setConfigurationMode(true)"><i class="fa fa-cog"></i>Settings</span>
          </a>
        </div>
      </div>
    </div>

    <div class="box-list" *ngIf="applicationDataLoaded && !moskitoAnalyzeMode">
      <tv-widget #tvWidget *ngIf="widgetService.isWidgetEnabled('tv')"></tv-widget>
      <components-widget #componentsWidget *ngIf="widgetService.isWidgetEnabled('status')"></components-widget>
      <beta-components-widget #betaComponentsWidget *ngIf="widgetService.isWidgetEnabled('statusBeta')"></beta-components-widget>
      <charts-widget #chartsWidget *ngIf="widgetService.isWidgetEnabled('charts')"></charts-widget>
      <history-widget #historyWidget *ngIf="widgetService.isWidgetEnabled('history')"></history-widget>
    </div>

    <div class="box-list" *ngIf="moskitoAnalyzeMode">
      <app-moskito-analyze></app-moskito-analyze>
    </div>
  </div>
</div>

<img src="//counter.moskito.org/counter/control/{{ moskitoApplicationService.version }}/main" class="ipix">
