<div class="content">
  <div *ngIf="configToggle">
    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <span class="configuration">Settings</span>
        </div>
        <div class="pull-right">
          <a href="#" class="btn2" (click)="setConfigurationMode(false)"><span class="inbtn">Back</span></a>
        </div>
      </div>
    </div>

    <settings [configuration]="configuration"></settings>
  </div>

  <div *ngIf="!configToggle">
    <div class="header">
      <ul class="applications-list">
        <li *ngFor="let app of applications" [class]="app.applicationColor | lowercase" [class.active]="moskitoApplicationService.currentApplication == app">
          <a href="#" (click)="setApplication(app)">
            {{ app.name }}
            <span class="status"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="infobar">
      <div class="infoline">
        <div class="pull-left">
          <timer #dataRefreshTimer timeInSeconds="60" [callback]="onDataRefresh"></timer>
        </div>
        <div class="pull-right">
          <!--
          <span *ngIf="!currentApplication.notificationsMuted" class="mute-title">Mute for {{ currentApplication.notificationsMutingTime }} minutes</span>
          <span *ngIf="currentApplication.notificationsMuted" class="mute-title">Remaining muting time {{ currentApplication.notificationsRemainingMutingTime }} minutes</span>

          <a *ngIf="!currentApplication.notificationsMuted" id="mute" href="#" class="btn2" title="Mute mail notifications" (click)="setNotificationsMutedMode(true)">
            <span class="inbtn">Mute</span>
          </a>
          <a *ngIf="currentApplication.notificationsMuted" id="unmute" href="#" class="btn2" title="Unmute mail notifications" (click)="setNotificationsMutedMode(false)">
            <span class="inbtn">Unmute</span>
          </a>
        -->

          <span class="vline"></span>
          <a href="#" class="btn2 settings">
            <span class="inbtn" (click)="setConfigurationMode(true)"><i class="fa fa-cog"></i>Settings</span>
          </a>
        </div>
      </div>
    </div>

    <div class="box-list" *ngIf="applicationDataLoaded">
      <tv-widget #tvWidget *ngIf="widgetService.isWidgetEnabled('tv')"></tv-widget>
      <components-widget #componentsWidget *ngIf="widgetService.isWidgetEnabled('status')"></components-widget>
      <charts-widget #chartsWidget *ngIf="widgetService.isWidgetEnabled('charts')"></charts-widget>
      <history-widget #historyWidget *ngIf="widgetService.isWidgetEnabled('history')"></history-widget>
    </div>
  </div>
</div>
